In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
HIV_df = pd.read_csv('data-text.csv')
HIV_df.head()

,Indicator,PUBLISH STATES,Year,WHO region,"Countries, territories and areas",Display Value,Numeric,Low,High,StdErr,StdDev,Comments
0,Number of people (all ages) living with HIV,Published,2022,Eastern Mediterranean,Afghanistan,12 000 [4700–50 000],12000.0,4700.0,50000.0,NaN,NaN,NaN
1,Number of people (all ages) living with HIV,Published,2022,Europe,Albania,1500 [1300–1700],1500.0,1300.0,1700.0,NaN,NaN,NaN
2,Number of people (all ages) living with HIV,Published,2022,Africa,Algeria,28 000 [26 000–30 000],28000.0,26000.0,30000.0,NaN,NaN,NaN
3,Number of people (all ages) living with HIV,Published,2022,Europe,Andorra,No data,NaN,NaN,NaN,NaN,NaN,NaN
4,Number of people (all ages) living with HIV,Published,2022,Africa,Angola,310 000 [270 000–370 000],310000.0,270000.0,370000.0,NaN,NaN,NaN

In [9]:
HIV_df.info

<bound method DataFrame.info of                                         Indicator PUBLISH STATES  Year  \
0     Number of people (all ages) living with HIV      Published  2022
1     Number of people (all ages) living with HIV      Published  2022
2     Number of people (all ages) living with HIV      Published  2022
3     Number of people (all ages) living with HIV      Published  2022
4     Number of people (all ages) living with HIV      Published  2022
...                                           ...            ...   ...
4457  Number of people (all ages) living with HIV      Published  2000
4458  Number of people (all ages) living with HIV      Published  2000
4459  Number of people (all ages) living with HIV      Published  2000
4460  Number of people (all ages) living with HIV      Published  2000
4461  Number of people (all ages) living with HIV      Published  2000

                 WHO region    Countries, territories and areas  \
0     Eastern Mediterranean                         Afghanistan
1                    Europe                             Albania
2                    Africa                             Algeria
3                    Europe                             Andorra
4                    Africa                              Angola
...                     ...                                 ...
4457               Americas  Venezuela (Bolivarian Republic of)
4458        Western Pacific                            Viet Nam
4459  Eastern Mediterranean                               Yemen
4460                 Africa                              Zambia
4461                 Africa                            Zimbabwe

                        Display Value    Numeric        Low       High  \
0                12 000 [4700–50 000]    12000.0     4700.0    50000.0
1                    1500 [1300–1700]     1500.0     1300.0     1700.0
2              28 000 [26 000–30 000]    28000.0    26000.0    30000.0
3                             No data        NaN        NaN        NaN
4           310 000 [270 000–370 000]   310000.0   270000.0   370000.0
...                               ...        ...        ...        ...
4457           43 000 [38 000–49 000]    43000.0    38000.0    49000.0
4458        120 000 [110 000–140 000]   120000.0   110000.0   140000.0
4459                 2200 [2000–2300]     2200.0     2000.0     2300.0
4460        810 000 [770 000–870 000]   810000.0   770000.0   870000.0
4461  1 600 000 [1 400 000–1 700 000]  1600000.0  1400000.0  1700000.0

      StdErr  StdDev  Comments
0        NaN     NaN       NaN
1        NaN     NaN       NaN
2        NaN     NaN       NaN
3        NaN     NaN       NaN
4        NaN     NaN       NaN
...      ...     ...       ...
4457     NaN     NaN       NaN
4458     NaN     NaN       NaN
4459     NaN     NaN       NaN
4460     NaN     NaN       NaN
4461     NaN     NaN       NaN

[4462 rows x 12 columns]>

In [6]:
HIV_df['Indicator'].value_counts()

Number of people (all ages) living with HIV    4462
Name: Indicator, dtype: int64

In [8]:
HIV_df['PUBLISH STATES'].value_counts()

Published    4462
Name: PUBLISH STATES, dtype: int64

In [10]:
HIV_df = HIV_df.drop(columns=['Indicator','PUBLISH STATES'])
HIV_df.head()

,Year,WHO region,"Countries, territories and areas",Display Value,Numeric,Low,High,StdErr,StdDev,Comments
0,2022,Eastern Mediterranean,Afghanistan,12 000 [4700–50 000],12000.0,4700.0,50000.0,NaN,NaN,NaN
1,2022,Europe,Albania,1500 [1300–1700],1500.0,1300.0,1700.0,NaN,NaN,NaN
2,2022,Africa,Algeria,28 000 [26 000–30 000],28000.0,26000.0,30000.0,NaN,NaN,NaN
3,2022,Europe,Andorra,No data,NaN,NaN,NaN,NaN,NaN,NaN
4,2022,Africa,Angola,310 000 [270 000–370 000],310000.0,270000.0,370000.0,NaN,NaN,NaN